/* ==========================
   SALES TABLE
========================== */

#salesTable{
    table-layout: fixed;
    width:100%;
}

#salesTable th,
#salesTable td{
    vertical-align:middle;
    white-space:nowrap;
}

/* Column Width */

#salesTable th:nth-child(1){
    width:45px;
}

#salesTable th:nth-child(2){
    width:70px;
}

#salesTable th:nth-child(3){
    width:38%;
}

#salesTable th:nth-child(4){
    width:70px;
}

#salesTable th:nth-child(5){
    width:80px;
}

#salesTable th:nth-child(6){
    width:110px;
}

#salesTable th:nth-child(7){
    width:90px;
}

#salesTable th:nth-child(8){
    width:110px;
}

#salesTable th:nth-child(9){
    width:120px;
}

#salesTable th:nth-child(10){
    width:45px;
}

/* Delete Button */

.remove-row{
    width:30px;
    height:30px;
    padding:0;
}

/* Stock */

.product-stock{
    font-size:11px;
}

/* Summary */

#subtotal_display,
#vat_display,
#grand_total_display,
#paid_display,
#due_display{
    font-weight:bold;
}